.faq {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 200px;
  align-items: start;
}
.faq__header {
  font-size: 70px;
  font-weight: 100;
  width: 600px;
}
.faq__questions {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.faq__question {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 1440px;
}
.faq__question img {
  width: 40px;
}
.faq__textofquestion {
  font-size: 24px;
}
.faq__img {
  position: absolute;
  top: 6200px;
  left: 1000px;
}

.features {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  justify-content: space-between;
  height: 850px;
}
.features__top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.features__header {
  font-size: 70px;
  font-weight: 100;
  width: 550px;
}
.features__btn {
  width: 140px;
  height: 60px;
  border-radius: 10px;
  color: #fff;
  background-color: #6259ea;
  border: none;
  font-size: 18px;
}
.features__bottom {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 75px 50px;
  border-radius: 40px;
  justify-content: space-between;
  height: 450px;
}
.features__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 270px;
}
.features__item h3 {
  font-size: 34px;
  font-weight: 100;
}
.features__item__feature {
  display: flex;
  align-items: start;
  gap: 10px;
}
.features__picture1, .features__picture2, .features__picture3 {
  position: absolute;
}
.features__picture1 {
  top: 2200px;
  left: -10px;
}
.features__picture2 {
  top: 2300px;
  left: 550px;
}
.features__picture3 {
  top: 2100px;
  left: 1000px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  z-index: 5;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header,
section {
  padding: 10px 50px;
}

body {
  position: relative;
}

hr {
  opacity: 0.7;
}

button {
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}
.hero {
  display: flex;
  flex-direction: column;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.hero__title {
  font-size: 88px;
  width: 800px;
  height: 150px;
  line-height: 88px;
  font-weight: 100;
}
.hero__text {
  font-size: 30px;
}
.hero__btn {
  width: 210px;
  height: 60px;
  background-color: #6259EA;
  border-radius: 10px;
  color: #fff;
  border: none;
}
.hero__img {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 620px;
}
.hero__companies {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 175px;
  gap: 150px;
  height: 150px;
  z-index: 0;
  background-color: rgba(129, 123, 253, 0.3);
}
.hero__watch {
  padding: 0px 10px;
}
.hero__watch-text {
  margin-top: 180px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .hero__content {
    max-width: 480px;
  }
  .hero__img {
    left: 100px;
    top: 0;
    max-width: 480px;
  }
  .hero__title {
    max-width: 480px;
  }
  .hero__text {
    margin-top: 150px;
  }
  .hero__watch-text {
    margin-top: 90px;
  }
  .hero__companies {
    width: 100%;
    max-width: 480px;
    flex-wrap: wrap;
    gap: 50px;
  }
}
.numbers {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.numbers img {
  position: absolute;
  top: 950px;
}
.numbers h2 {
  font-size: 70px;
  font-weight: 100;
}
.numbers__item {
  display: flex;
  align-items: center;
  height: 200px;
  width: 700px;
  justify-content: space-between;
}
.numbers__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.numbers__numtext1 {
  font-size: 30px;
}
.numbers__numtext2 {
  width: 380px;
  line-height: 24px;
  font-size: 18px;
}
.numbers__number {
  font-size: 100px;
  font-weight: 100;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.price__header {
  font-size: 44px;
  font-weight: 100;
}
.price__plans {
  display: flex;
  align-items: center;
  gap: 50px;
}
.price__basic, .price__pro {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 640px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border: 3px solid #fff;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px #aaa;
  justify-content: center;
}
.price__feature {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: -10px;
}
.price__plan {
  font-size: 36px;
  font-weight: 100;
}
.price__cost {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.price__costt {
  font-size: 80px;
}
.price__btn {
  width: 140px;
  height: 60px;
  color: #fff;
  background-color: #6259ea;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.price__pro {
  border: 3px solid #6259ea;
  box-shadow: none;
}
.price__img1 {
  position: absolute;
  top: 5000px;
  left: -100px;
  z-index: 4;
}
.price__img2 {
  position: absolute;
  top: 5100px;
  left: 1200px;
  z-index: 4;
}

.team {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin-top: 100px;
}
.team__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.team__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.team__header {
  font-size: 70px;
  line-height: 77px;
  font-weight: 100;
  width: 500px;
}
.team__btn1 {
  width: 130px;
  height: 60px;
  color: #fff;
  background-color: #6259ea;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}
.team__btn2 {
  width: 200px;
  height: 60px;
  background-color: #eaeaea;
  box-shadow: 2px 2px 2px #dbdbdb;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.technologies__top {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.technologies__title1 {
  display: flex;
  align-items: center;
}
.technologies__title1 hr {
  width: 1000px;
}
.technologies__header {
  font-size: 44px;
  font-weight: 100;
}
.technologies__fulldesc {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.technologies__description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 500px;
}
.technologies__headerdesc {
  font-size: 35px;
  font-weight: 100;
}
.technologies__bottom {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.technologies__fulldesc2 {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.technologies__title2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 150px;
  margin: 50px 0;
  width: 100%;
}
.technologies__title2 hr {
  width: 800px;
}

.video {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.video__top {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.video__top hr {
  width: 100%;
}
.video__header {
  font-weight: 100;
  font-size: 44px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__nav {
  display: flex;
}
.navbar__menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar__link {
  color: #000;
}
.navbar__btn {
  width: 139px;
  height: 60px;
  border-radius: 10px;
  font-size: 24px;
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  margin-right: 70px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar__nav, .navbar__btn {
    display: none;
  }
}
.footer {
  display: flex;
  padding: 50px;
  background-color: #1a1930;
  color: #fff;
  height: 420px;
  font-size: 20px;
  letter-spacing: 1px;
}
.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 540px;
}
.footer__right {
  display: flex;
  flex-direction: column;
  width: 840px;
  gap: 100px;
}
.footer__link {
  color: #fff;
}
.footer__alllinks {
  display: flex;
  align-items: center;
  gap: 140px;
}
.footer__linklist {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__img {
  position: absolute;
  top: 9470px;
  left: 1100px;
}
.footer__kyiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.people {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: start;
  margin-top: 150px;
}
.people__header {
  font-size: 70px;
  font-weight: 100;
  width: 500px;
}
.people__bottom {
  display: flex;
  align-items: center;
  height: 360px;
  gap: 50px;
  background-color: rgba(171, 170, 187, 0.2);
  padding: 30px;
  border-radius: 20px;
}
.people__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.people__socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
.people__info__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.people__name {
  font-size: 44px;
  font-weight: 100;
}
.people__text {
  font-size: 24px;
  line-height: 36px;
}
.people__arrows {
  margin-left: 800px;
}
.people__img1 {
  position: absolute;
  left: 1100px;
  top: 7550px;
  z-index: 4;
}
.people__img2 {
  position: absolute;
  left: -50px;
  top: 6950px;
  z-index: 4;
}

.press {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: start;
  margin-top: 100px;
}
.press__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.press__btn {
  width: 140px;
  height: 60px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #6249ea;
  color: #fff;
  border: none;
}
.press__header {
  font-size: 70px;
  font-weight: 100;
}
.press__bottom {
  margin: 0 -70px;
}

.social {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.social__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social__header {
  font-size: 70px;
  font-weight: 100;
}
.social__btn {
  width: 200px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 2px 2px 2px 2px rgba(26, 25, 48, 0.4588235294);
  border: none;
  font-size: 18px;
}
.social__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.contact__header {
  font-size: 70px;
  font-weight: 100;
}
.contact__contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
}
.contact__input1, .contact__input2, .contact__input3 {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  box-shadow: 2px 2px 2px #aaa;
  height: 50px;
  padding: 10px;
}
.contact__btn {
  height: 60px;
  color: #fff;
  background-color: #6259ea;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}
.contact__img1 {
  position: absolute;
  top: 8660px;
  left: -50px;
}
.contact__img2 {
  position: absolute;
  top: 8700px;
  left: 1200px;
}/*# sourceMappingURL=style.css.map */