.features {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  justify-content: space-between;
  height: 850px;
}
.features__top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.features__header {
  font-size: 70px;
  font-weight: 100;
  width: 550px;
}
.features__btn {
  width: 140px;
  height: 60px;
  border-radius: 10px;
  color: #fff;
  background-color: #6259ea;
  border: none;
  font-size: 18px;
}
.features__bottom {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 75px 50px;
  border-radius: 40px;
  justify-content: space-between;
  height: 450px;
}
.features__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 270px;
}
.features__item h3 {
  font-size: 34px;
  font-weight: 100;
}
.features__item__feature {
  display: flex;
  align-items: start;
  gap: 10px;
}
.features__picture1, .features__picture2, .features__picture3 {
  position: absolute;
}
.features__picture1 {
  top: 2200px;
  left: -10px;
}
.features__picture2 {
  top: 2300px;
  left: 550px;
}
.features__picture3 {
  top: 2100px;
  left: 1000px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  z-index: 5;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header,
section {
  padding: 10px 50px;
}

body {
  position: relative;
}

hr {
  opacity: 0.7;
}

button {
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}
.hero {
  display: flex;
  flex-direction: column;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.hero__title {
  font-size: 88px;
  width: 800px;
  height: 150px;
  line-height: 88px;
  font-weight: 100;
}
.hero__text {
  font-size: 30px;
}
.hero__btn {
  width: 210px;
  height: 60px;
  background-color: #6259EA;
  border-radius: 10px;
  color: #fff;
  border: none;
}
.hero__img {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 620px;
}
.hero__companies {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 175px;
  gap: 150px;
  height: 150px;
  z-index: 0;
  background-color: rgba(129, 123, 253, 0.3);
}
.hero__watch {
  padding: 0px 10px;
}
.hero__watch-text {
  margin-top: 180px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .hero__content {
    max-width: 480px;
  }
  .hero__img {
    left: 100px;
    top: 0;
    max-width: 480px;
  }
  .hero__title {
    max-width: 480px;
  }
  .hero__text {
    margin-top: 150px;
  }
  .hero__watch-text {
    margin-top: 90px;
  }
  .hero__companies {
    width: 100%;
    max-width: 480px;
    flex-wrap: wrap;
    gap: 50px;
  }
}
.numbers {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.numbers img {
  position: absolute;
  top: 950px;
}
.numbers h2 {
  font-size: 70px;
  font-weight: 100;
}
.numbers__item {
  display: flex;
  align-items: center;
  height: 200px;
  width: 700px;
  justify-content: space-between;
}
.numbers__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.numbers__numtext1 {
  font-size: 30px;
}
.numbers__numtext2 {
  width: 380px;
  line-height: 24px;
  font-size: 18px;
}
.numbers__number {
  font-size: 100px;
  font-weight: 100;
}

.video {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.video__top {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.video__top hr {
  width: 100%;
}
.video__header {
  font-weight: 100;
  font-size: 44px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__nav {
  display: flex;
}
.navbar__menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar__link {
  color: #000;
}
.navbar__btn {
  width: 139px;
  height: 60px;
  border-radius: 10px;
  font-size: 24px;
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  margin-right: 70px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar__nav, .navbar__btn {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */