* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 5;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header,
section {
    padding: 10px 50px;
}

body {
    position: relative;
}

@media (min-width: 320px) and (max-width: 480px) {
    .container {
        max-width: 480px;
    }
}