.numbers {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    & img {
        position: absolute;
        top: 950px;
    }
    & h2 {
        font-size: 70px;
        font-weight: 100;
    }
    &__item {
        display: flex;
        align-items: center;
        height: 200px;
        width: 700px;
        justify-content: space-between;
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__numtext1 {
        font-size: 30px;
    }
    &__numtext2 {
        width: 380px;
        line-height: 24px;
        font-size: 18px;
    }
    &__number {
        font-size: 100px;
        font-weight: 100;
    }
}